+++
title = "IMayr docs"
linkTitle = "IMayr docs"

+++

{{< blocks/cover title="IMayr 365 Project" image_anchor="top" height="200" color="orange" >}}

{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="IMayr 365 Ideen" %}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="IMayr 365 Knowledge Base" url="doc1.docusnap.com/site2/de/docs/" %}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Folge uns auf Twitter!" url="" %}}
{{% /blocks/feature %}}

